.contain{
  width: 100%;
  height: 600px;
}

.d-block{
  display: block;
  justify-content: center;
}

img{
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

img:focus{
  outline: none;
}

.center{
  margin: auto;
}

.ctr{
  justify-content: center;
  align-content: center;
  text-align: center;
}

.carousel-item{
  height: 600px;
}

.carousel-indicators{
  bottom: -37px;
}

@keyframes bounce-anim{
  0% {transform: translateY(0);}
  50% {transform: translateY(-30px);}
  100% {transform: translateY(0);}
}

.bounce{
  animation: ease-in-out;
  animation-duration: 2s;
  animation-name: bounce-anim;
  animation-iteration-count: infinite;
}