.color-nav{
  background-color: black;
}

.nav-link{
  color: #FA3264 !important;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: outline;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.nav-link:hover{
  color: whitesmoke !important;
  transform: scale(1.25);
  transition: all .2s ease-in-out;
}

.nav-brand{
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.nav-brand:hover{
  transform: scale(1.25);
  transition: all .2s ease-in-out;
}

@font-face{
  font-family: madeEvolve;
  src: url(madeEvolveSansBold.otf)
}

.nav-brand{
  font-family: madeEvolve;
  padding-right: 7px;
  border-right: 2px solid #FA3264;
}

@keyframes fillRed{
  0% {color: whitesmoke;}
  50% {color: #FA3264;}
  100% {color: whitesmoke;}
}

.red{
  animation-name: fillRed;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}