.color-nav{
  background-color: black;
}

.nav-link{
  color: #FA3264 !important;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: outline;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.nav-link:hover{
  color: whitesmoke !important;
  transform: scale(1.25);
  transition: all .2s ease-in-out;
}

.nav-brand{
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.nav-brand:hover{
  transform: scale(1.25);
  transition: all .2s ease-in-out;
}

@font-face{
  font-family: madeEvolve;
  src: url(madeEvolveSansBold.otf)
}

.nav-brand{
  font-family: madeEvolve;
  padding-right: 7px;
  border-right: 2px solid #FA3264;
}

@keyframes fillRed{
  0% {color: whitesmoke;}
  50% {color: #FA3264;}
  100% {color: whitesmoke;}
}

.red{
  animation-name: fillRed;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logButton:hover{
  color: aquamarine;
  transition: all .2s ease-in-out;
}

.logButton{
  color: #FA3264;
  transition: all .2s ease-in-out;
}

.LSU{
  border: none;
  background-color: inherit;
  color: #FA3264;
  transition: background-color .3s linear;
}

.LSUgroup{
  border-bottom: 1px solid #FF3264;
  border-radius: 5px;
  margin-bottom: 10px !important;
}

.LSU:focus{
  background-color: whitesmoke;
  transition: all .3s linear;
}

.LSU::placeholder{
  color: whitesmoke;
  font-size: 0.9rem;
}

.lsuModal{
  overflow: hidden;
}

.modal-content{
  border: none !important;
  box-shadow: 0 0 10px #FA3264;
}

.modal-backdrop.show{
  background: whitesmoke;
}

.modal{
  border-radius: 5px;
}

#LSUsubmit{
  background-color: #FA3264;
}

#LSUsubmit:disabled{
  background-color: inherit;
}