.color-nav{
  background-color: black;
}

.nav-link{
  color: #FA3264 !important;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: outline;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.nav-link:hover{
  color: whitesmoke !important;
  transform: scale(1.25);
  transition: all .2s ease-in-out;
}

.nav-brand{
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.nav-brand:hover{
  transform: scale(1.25);
  transition: all .2s ease-in-out;
}